@page
@model AppWithDatabase.Pages.Checkout.ThankYouModel

<div class="text-center">
    <h1 class="mt-4 mb-4 display-4">Thank You</h1>
    <p style="font-size: 1.25rem;">Your pizza's in the oven! 😋</p>
</div>
